<h1>Reset Password</h1>

<%= form_with url: password_resets_path do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="actions"><%= f.submit "Reset Password" %></div>

<% end %>

